/* .my-class {
    margin-top: 10px;
    margin-bottom: 10px;

    padding-top: 10px;
    padding-bottom: 10px;

    width: 100px;
    width: 200px;

    height: 100px;
} */

.box {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}